.containerFluid {
  display: grid;
  grid-template-columns: 3fr 9fr;
  height: 100vh;
}

.tickersContainer,
.graphContainer {
  height: calc(100%);
}

.graphContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.tickersContainer {
  border-right: 1px solid #eee;
}
